.section {
    margin-bottom: 80px;

    & > * ~ * {
        margin-top: 70px;
    }

    &__title {
        color: #ff786c;
        font-size: 4rem;
        text-transform: capitalize;
        text-align: center;
    }
}
